.app-wrapper {
  margin-top: 3rem;
  gap: 3rem;
}
button {
  background-color: rgb(255, 196, 0);
  width: 10vw;
  height: 45px;
  border: none;
  border-radius: 20px;
  font-size: 24px;
}
button:hover {
  scale: 1.05;
}
button:active {
  background-color: rgba(255, 196, 0, 0.7);
}
.message-container {
  background-color: #4b4b4b;
  width: 80vw;
  height: 70px;
  border-radius: 25px;
}
.message-white {
  color: white;
  font-size: 24px;
}
.message-red {
  color: rgb(255, 98, 98);
  font-size: 24px;
}
